*{
	font-family: "微软雅黑"
}


/*按钮BUTTON的样式*/
.tk_btn{
	background-color: #212121;
	cursor: pointer;
	color: pink;
	padding: 2px;
  font-size: 15px;
  border-radius: 10px;
  border: solid 2px pink;
  transition: box-shadow 0.5s ease, color 0.5s ease;
}

.tk_btn:hover {
  box-shadow: inset 0 0 0 2em pink;
  color:black;
}