<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.DiscusMapper">
  <resultMap id="BaseResultMap" type="com.pojo.Discus">
    <id column="discus_id" jdbcType="INTEGER" property="discusId" />
    <result column="d_topic" jdbcType="VARCHAR" property="dTopic" />
    <result column="c_id" jdbcType="INTEGER" property="cId" />
    <result column="discusall_id" jdbcType="INTEGER" property="discusallId" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="u_name" jdbcType="VARCHAR" property="uName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.pojo.Discus">
    <result column="d_content" jdbcType="LONGVARCHAR" property="dContent" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    discus_id, d_topic, c_id, discusall_id, u_id, u_name
  </sql>
  <sql id="Blob_Column_List">
    d_content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.pojo.DiscusExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from discus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.pojo.DiscusExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from discus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from discus
    where discus_id = #{discusId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from discus
    where discus_id = #{discusId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.DiscusExample">
    delete from discus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.Discus">
    <!-- 新增项目的时候返回此次的自增ID -->
    <selectKey keyProperty="discusId" order="AFTER" resultType="int">
      SELECT LAST_INSERT_ID() AS discusId
    </selectKey>
    insert into discus (discus_id, d_topic, c_id, 
      discusall_id, u_id, u_name, 
      d_content)
    values (#{discusId,jdbcType=INTEGER}, #{dTopic,jdbcType=VARCHAR}, #{cId,jdbcType=INTEGER}, 
      #{discusallId,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, #{uName,jdbcType=VARCHAR}, 
      #{dContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Discus">
    insert into discus
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="discusId != null">
        discus_id,
      </if>
      <if test="dTopic != null">
        d_topic,
      </if>
      <if test="cId != null">
        c_id,
      </if>
      <if test="discusallId != null">
        discusall_id,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="uName != null">
        u_name,
      </if>
      <if test="dContent != null">
        d_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="discusId != null">
        #{discusId,jdbcType=INTEGER},
      </if>
      <if test="dTopic != null">
        #{dTopic,jdbcType=VARCHAR},
      </if>
      <if test="cId != null">
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="discusallId != null">
        #{discusallId,jdbcType=INTEGER},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="uName != null">
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="dContent != null">
        #{dContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.DiscusExample" resultType="java.lang.Long">
    select count(*) from discus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update discus
    <set>
      <if test="record.discusId != null">
        discus_id = #{record.discusId,jdbcType=INTEGER},
      </if>
      <if test="record.dTopic != null">
        d_topic = #{record.dTopic,jdbcType=VARCHAR},
      </if>
      <if test="record.cId != null">
        c_id = #{record.cId,jdbcType=INTEGER},
      </if>
      <if test="record.discusallId != null">
        discusall_id = #{record.discusallId,jdbcType=INTEGER},
      </if>
      <if test="record.uId != null">
        u_id = #{record.uId,jdbcType=INTEGER},
      </if>
      <if test="record.uName != null">
        u_name = #{record.uName,jdbcType=VARCHAR},
      </if>
      <if test="record.dContent != null">
        d_content = #{record.dContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update discus
    set discus_id = #{record.discusId,jdbcType=INTEGER},
      d_topic = #{record.dTopic,jdbcType=VARCHAR},
      c_id = #{record.cId,jdbcType=INTEGER},
      discusall_id = #{record.discusallId,jdbcType=INTEGER},
      u_id = #{record.uId,jdbcType=INTEGER},
      u_name = #{record.uName,jdbcType=VARCHAR},
      d_content = #{record.dContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update discus
    set discus_id = #{record.discusId,jdbcType=INTEGER},
      d_topic = #{record.dTopic,jdbcType=VARCHAR},
      c_id = #{record.cId,jdbcType=INTEGER},
      discusall_id = #{record.discusallId,jdbcType=INTEGER},
      u_id = #{record.uId,jdbcType=INTEGER},
      u_name = #{record.uName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Discus">
    update discus
    <set>
      <if test="dTopic != null">
        d_topic = #{dTopic,jdbcType=VARCHAR},
      </if>
      <if test="cId != null">
        c_id = #{cId,jdbcType=INTEGER},
      </if>
      <if test="discusallId != null">
        discusall_id = #{discusallId,jdbcType=INTEGER},
      </if>
      <if test="uId != null">
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="uName != null">
        u_name = #{uName,jdbcType=VARCHAR},
      </if>
      <if test="dContent != null">
        d_content = #{dContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where discus_id = #{discusId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pojo.Discus">
    update discus
    set d_topic = #{dTopic,jdbcType=VARCHAR},
      c_id = #{cId,jdbcType=INTEGER},
      discusall_id = #{discusallId,jdbcType=INTEGER},
      u_id = #{uId,jdbcType=INTEGER},
      u_name = #{uName,jdbcType=VARCHAR},
      d_content = #{dContent,jdbcType=LONGVARCHAR}
    where discus_id = #{discusId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Discus">
    update discus
    set d_topic = #{dTopic,jdbcType=VARCHAR},
      c_id = #{cId,jdbcType=INTEGER},
      discusall_id = #{discusallId,jdbcType=INTEGER},
      u_id = #{uId,jdbcType=INTEGER},
      u_name = #{uName,jdbcType=VARCHAR}
    where discus_id = #{discusId,jdbcType=INTEGER}
  </update>
</mapper>