<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.pojo.Project">
    <id column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="p_name" jdbcType="VARCHAR" property="pName" />
    <result column="p_sensitive" jdbcType="INTEGER" property="pSensitive" />
    <result column="ispublic" jdbcType="INTEGER" property="ispublic" />
    <result column="t_id" jdbcType="INTEGER" property="tId" />
    <result column="discusallid" jdbcType="INTEGER" property="discusallid" />
    <result column="f_totalid" jdbcType="INTEGER" property="fTotalid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.pojo.Project">
    <result column="p_describe" jdbcType="LONGVARCHAR" property="pDescribe" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    p_id, p_name, p_sensitive, ispublic, t_id, discusallid, f_totalid
  </sql>
  <sql id="Blob_Column_List">
    p_describe
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.pojo.ProjectExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.pojo.ProjectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from project
    where p_id = #{pId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from project
    where p_id = #{pId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.ProjectExample">
    delete from project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.Project">
    insert into project (p_id, p_name, p_sensitive, 
      ispublic, t_id, discusallid, 
      f_totalid, p_describe)
    values (#{pId,jdbcType=INTEGER}, #{pName,jdbcType=VARCHAR}, #{pSensitive,jdbcType=INTEGER}, 
      #{ispublic,jdbcType=INTEGER}, #{tId,jdbcType=INTEGER}, #{discusallid,jdbcType=INTEGER}, 
      #{fTotalid,jdbcType=INTEGER}, #{pDescribe,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Project">
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        p_id,
      </if>
      <if test="pName != null">
        p_name,
      </if>
      <if test="pSensitive != null">
        p_sensitive,
      </if>
      <if test="ispublic != null">
        ispublic,
      </if>
      <if test="tId != null">
        t_id,
      </if>
      <if test="discusallid != null">
        discusallid,
      </if>
      <if test="fTotalid != null">
        f_totalid,
      </if>
      <if test="pDescribe != null">
        p_describe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="pName != null">
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pSensitive != null">
        #{pSensitive,jdbcType=INTEGER},
      </if>
      <if test="ispublic != null">
        #{ispublic,jdbcType=INTEGER},
      </if>
      <if test="tId != null">
        #{tId,jdbcType=INTEGER},
      </if>
      <if test="discusallid != null">
        #{discusallid,jdbcType=INTEGER},
      </if>
      <if test="fTotalid != null">
        #{fTotalid,jdbcType=INTEGER},
      </if>
      <if test="pDescribe != null">
        #{pDescribe,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.ProjectExample" resultType="java.lang.Long">
    select count(*) from project
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update project
    <set>
      <if test="record.pId != null">
        p_id = #{record.pId,jdbcType=INTEGER},
      </if>
      <if test="record.pName != null">
        p_name = #{record.pName,jdbcType=VARCHAR},
      </if>
      <if test="record.pSensitive != null">
        p_sensitive = #{record.pSensitive,jdbcType=INTEGER},
      </if>
      <if test="record.ispublic != null">
        ispublic = #{record.ispublic,jdbcType=INTEGER},
      </if>
      <if test="record.tId != null">
        t_id = #{record.tId,jdbcType=INTEGER},
      </if>
      <if test="record.discusallid != null">
        discusallid = #{record.discusallid,jdbcType=INTEGER},
      </if>
      <if test="record.fTotalid != null">
        f_totalid = #{record.fTotalid,jdbcType=INTEGER},
      </if>
      <if test="record.pDescribe != null">
        p_describe = #{record.pDescribe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update project
    set p_id = #{record.pId,jdbcType=INTEGER},
      p_name = #{record.pName,jdbcType=VARCHAR},
      p_sensitive = #{record.pSensitive,jdbcType=INTEGER},
      ispublic = #{record.ispublic,jdbcType=INTEGER},
      t_id = #{record.tId,jdbcType=INTEGER},
      discusallid = #{record.discusallid,jdbcType=INTEGER},
      f_totalid = #{record.fTotalid,jdbcType=INTEGER},
      p_describe = #{record.pDescribe,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update project
    set p_id = #{record.pId,jdbcType=INTEGER},
      p_name = #{record.pName,jdbcType=VARCHAR},
      p_sensitive = #{record.pSensitive,jdbcType=INTEGER},
      ispublic = #{record.ispublic,jdbcType=INTEGER},
      t_id = #{record.tId,jdbcType=INTEGER},
      discusallid = #{record.discusallid,jdbcType=INTEGER},
      f_totalid = #{record.fTotalid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Project">
    update project
    <set>
      <if test="pName != null">
        p_name = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pSensitive != null">
        p_sensitive = #{pSensitive,jdbcType=INTEGER},
      </if>
      <if test="ispublic != null">
        ispublic = #{ispublic,jdbcType=INTEGER},
      </if>
      <if test="tId != null">
        t_id = #{tId,jdbcType=INTEGER},
      </if>
      <if test="discusallid != null">
        discusallid = #{discusallid,jdbcType=INTEGER},
      </if>
      <if test="fTotalid != null">
        f_totalid = #{fTotalid,jdbcType=INTEGER},
      </if>
      <if test="pDescribe != null">
        p_describe = #{pDescribe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pojo.Project">
    update project
    set p_name = #{pName,jdbcType=VARCHAR},
      p_sensitive = #{pSensitive,jdbcType=INTEGER},
      ispublic = #{ispublic,jdbcType=INTEGER},
      t_id = #{tId,jdbcType=INTEGER},
      discusallid = #{discusallid,jdbcType=INTEGER},
      f_totalid = #{fTotalid,jdbcType=INTEGER},
      p_describe = #{pDescribe,jdbcType=LONGVARCHAR}
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Project">
    update project
    set p_name = #{pName,jdbcType=VARCHAR},
      p_sensitive = #{pSensitive,jdbcType=INTEGER},
      ispublic = #{ispublic,jdbcType=INTEGER},
      t_id = #{tId,jdbcType=INTEGER},
      discusallid = #{discusallid,jdbcType=INTEGER},
      f_totalid = #{fTotalid,jdbcType=INTEGER}
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
</mapper>