<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.TaskMapper">
  <resultMap id="BaseResultMap" type="com.pojo.Task">
    <id column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="task_createtime" jdbcType="TIMESTAMP" property="taskCreatetime" />
    <result column="task_finishtime" jdbcType="TIMESTAMP" property="taskFinishtime" />
    <result column="task_user" jdbcType="INTEGER" property="taskUser" />
    <result column="task_assigner" jdbcType="INTEGER" property="taskAssigner" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.pojo.Task">
    <result column="task_describe" jdbcType="LONGVARCHAR" property="taskDescribe" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    task_id, task_name, task_createtime, task_finishtime, task_user, task_assigner, status
  </sql>
  <sql id="Blob_Column_List">
    task_describe
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.pojo.TaskExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.pojo.TaskExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from task
    where task_id = #{taskId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task
    where task_id = #{taskId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.TaskExample">
    delete from task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.Task">
    insert into task (task_id, task_name, task_createtime, 
      task_finishtime, task_user, task_assigner, 
      status, task_describe)
    values (#{taskId,jdbcType=INTEGER}, #{taskName,jdbcType=VARCHAR}, #{taskCreatetime,jdbcType=TIMESTAMP}, 
      #{taskFinishtime,jdbcType=TIMESTAMP}, #{taskUser,jdbcType=INTEGER}, #{taskAssigner,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{taskDescribe,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Task">
    insert into task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        task_id,
      </if>
      <if test="taskName != null">
        task_name,
      </if>
      <if test="taskCreatetime != null">
        task_createtime,
      </if>
      <if test="taskFinishtime != null">
        task_finishtime,
      </if>
      <if test="taskUser != null">
        task_user,
      </if>
      <if test="taskAssigner != null">
        task_assigner,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="taskDescribe != null">
        task_describe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="taskName != null">
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskCreatetime != null">
        #{taskCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskFinishtime != null">
        #{taskFinishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskUser != null">
        #{taskUser,jdbcType=INTEGER},
      </if>
      <if test="taskAssigner != null">
        #{taskAssigner,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="taskDescribe != null">
        #{taskDescribe,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.TaskExample" resultType="java.lang.Long">
    select count(*) from task
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update task
    <set>
      <if test="record.taskId != null">
        task_id = #{record.taskId,jdbcType=INTEGER},
      </if>
      <if test="record.taskName != null">
        task_name = #{record.taskName,jdbcType=VARCHAR},
      </if>
      <if test="record.taskCreatetime != null">
        task_createtime = #{record.taskCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.taskFinishtime != null">
        task_finishtime = #{record.taskFinishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.taskUser != null">
        task_user = #{record.taskUser,jdbcType=INTEGER},
      </if>
      <if test="record.taskAssigner != null">
        task_assigner = #{record.taskAssigner,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.taskDescribe != null">
        task_describe = #{record.taskDescribe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update task
    set task_id = #{record.taskId,jdbcType=INTEGER},
      task_name = #{record.taskName,jdbcType=VARCHAR},
      task_createtime = #{record.taskCreatetime,jdbcType=TIMESTAMP},
      task_finishtime = #{record.taskFinishtime,jdbcType=TIMESTAMP},
      task_user = #{record.taskUser,jdbcType=INTEGER},
      task_assigner = #{record.taskAssigner,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      task_describe = #{record.taskDescribe,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update task
    set task_id = #{record.taskId,jdbcType=INTEGER},
      task_name = #{record.taskName,jdbcType=VARCHAR},
      task_createtime = #{record.taskCreatetime,jdbcType=TIMESTAMP},
      task_finishtime = #{record.taskFinishtime,jdbcType=TIMESTAMP},
      task_user = #{record.taskUser,jdbcType=INTEGER},
      task_assigner = #{record.taskAssigner,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Task">
    update task
    <set>
      <if test="taskName != null">
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskCreatetime != null">
        task_createtime = #{taskCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskFinishtime != null">
        task_finishtime = #{taskFinishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskUser != null">
        task_user = #{taskUser,jdbcType=INTEGER},
      </if>
      <if test="taskAssigner != null">
        task_assigner = #{taskAssigner,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="taskDescribe != null">
        task_describe = #{taskDescribe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pojo.Task">
    update task
    set task_name = #{taskName,jdbcType=VARCHAR},
      task_createtime = #{taskCreatetime,jdbcType=TIMESTAMP},
      task_finishtime = #{taskFinishtime,jdbcType=TIMESTAMP},
      task_user = #{taskUser,jdbcType=INTEGER},
      task_assigner = #{taskAssigner,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      task_describe = #{taskDescribe,jdbcType=LONGVARCHAR}
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Task">
    update task
    set task_name = #{taskName,jdbcType=VARCHAR},
      task_createtime = #{taskCreatetime,jdbcType=TIMESTAMP},
      task_finishtime = #{taskFinishtime,jdbcType=TIMESTAMP},
      task_user = #{taskUser,jdbcType=INTEGER},
      task_assigner = #{taskAssigner,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
</mapper>