<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.TaskinfoMapper">
  <resultMap id="BaseResultMap" type="com.pojo.Taskinfo">
    <id column="taskinfo_id" jdbcType="INTEGER" property="taskinfoId" />
    <result column="taskinfo_name" jdbcType="VARCHAR" property="taskinfoName" />
    <result column="taskinfo_user" jdbcType="INTEGER" property="taskinfoUser" />
    <result column="p_id" jdbcType="INTEGER" property="pId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.pojo.Taskinfo">
    <result column="takinfo_describe" jdbcType="LONGVARCHAR" property="takinfoDescribe" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    taskinfo_id, taskinfo_name, taskinfo_user, p_id
  </sql>
  <sql id="Blob_Column_List">
    takinfo_describe
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.pojo.TaskinfoExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from taskinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.pojo.TaskinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from taskinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from taskinfo
    where taskinfo_id = #{taskinfoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from taskinfo
    where taskinfo_id = #{taskinfoId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pojo.TaskinfoExample">
    delete from taskinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pojo.Taskinfo">
    <selectKey keyProperty="taskinfoId" order="AFTER" resultType="int">
    SELECT LAST_INSERT_ID() AS taskinfoId
    </selectKey>
    insert into taskinfo (taskinfo_id, taskinfo_name, taskinfo_user, 
      p_id, takinfo_describe)
    values (#{taskinfoId,jdbcType=INTEGER}, #{taskinfoName,jdbcType=VARCHAR}, #{taskinfoUser,jdbcType=INTEGER}, 
      #{pId,jdbcType=INTEGER}, #{takinfoDescribe,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Taskinfo">
    insert into taskinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskinfoId != null">
        taskinfo_id,
      </if>
      <if test="taskinfoName != null">
        taskinfo_name,
      </if>
      <if test="taskinfoUser != null">
        taskinfo_user,
      </if>
      <if test="pId != null">
        p_id,
      </if>
      <if test="takinfoDescribe != null">
        takinfo_describe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskinfoId != null">
        #{taskinfoId,jdbcType=INTEGER},
      </if>
      <if test="taskinfoName != null">
        #{taskinfoName,jdbcType=VARCHAR},
      </if>
      <if test="taskinfoUser != null">
        #{taskinfoUser,jdbcType=INTEGER},
      </if>
      <if test="pId != null">
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="takinfoDescribe != null">
        #{takinfoDescribe,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pojo.TaskinfoExample" resultType="java.lang.Long">
    select count(*) from taskinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update taskinfo
    <set>
      <if test="record.taskinfoId != null">
        taskinfo_id = #{record.taskinfoId,jdbcType=INTEGER},
      </if>
      <if test="record.taskinfoName != null">
        taskinfo_name = #{record.taskinfoName,jdbcType=VARCHAR},
      </if>
      <if test="record.taskinfoUser != null">
        taskinfo_user = #{record.taskinfoUser,jdbcType=INTEGER},
      </if>
      <if test="record.pId != null">
        p_id = #{record.pId,jdbcType=INTEGER},
      </if>
      <if test="record.takinfoDescribe != null">
        takinfo_describe = #{record.takinfoDescribe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update taskinfo
    set taskinfo_id = #{record.taskinfoId,jdbcType=INTEGER},
      taskinfo_name = #{record.taskinfoName,jdbcType=VARCHAR},
      taskinfo_user = #{record.taskinfoUser,jdbcType=INTEGER},
      p_id = #{record.pId,jdbcType=INTEGER},
      takinfo_describe = #{record.takinfoDescribe,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update taskinfo
    set taskinfo_id = #{record.taskinfoId,jdbcType=INTEGER},
      taskinfo_name = #{record.taskinfoName,jdbcType=VARCHAR},
      taskinfo_user = #{record.taskinfoUser,jdbcType=INTEGER},
      p_id = #{record.pId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Taskinfo">
    update taskinfo
    <set>
      <if test="taskinfoName != null">
        taskinfo_name = #{taskinfoName,jdbcType=VARCHAR},
      </if>
      <if test="taskinfoUser != null">
        taskinfo_user = #{taskinfoUser,jdbcType=INTEGER},
      </if>
      <if test="pId != null">
        p_id = #{pId,jdbcType=INTEGER},
      </if>
      <if test="takinfoDescribe != null">
        takinfo_describe = #{takinfoDescribe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where taskinfo_id = #{taskinfoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.pojo.Taskinfo">
    update taskinfo
    set taskinfo_name = #{taskinfoName,jdbcType=VARCHAR},
      taskinfo_user = #{taskinfoUser,jdbcType=INTEGER},
      p_id = #{pId,jdbcType=INTEGER},
      takinfo_describe = #{takinfoDescribe,jdbcType=LONGVARCHAR}
    where taskinfo_id = #{taskinfoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Taskinfo">
    update taskinfo
    set taskinfo_name = #{taskinfoName,jdbcType=VARCHAR},
      taskinfo_user = #{taskinfoUser,jdbcType=INTEGER},
      p_id = #{pId,jdbcType=INTEGER}
    where taskinfo_id = #{taskinfoId,jdbcType=INTEGER}
  </update>
</mapper>