<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.UserMapper" >

	<!-- pojo类属性和对应表的结果集映射关系 -->
	<resultMap id="BaseResultMap" type="com.pojo.User">
		<id column="u_id" property="uId" jdbcType="INTEGER" />
		<result column="u_email" property="uEmail" jdbcType="VARCHAR" />
		<result column="u_password" property="uPassword" jdbcType="VARCHAR" />
		<result column="u_picture" property="uPicture" jdbcType="VARCHAR" />
		<result column="u_name" property="uName" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 条件从句 -->
	<sql id="Example_Where_Clause">
		<where>
			<!-- 读取criteria列表集合中的元素 -->
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<!-- 判断criteria是否有条件 -->
				<if test="criteria.valid">
					<!-- 设置前后缀包裹，以and分隔 -->
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<!-- 遍历每一个criteria中的List<Criterion>自定义条件列表集合 -->
						<foreach collection="criteria.criteria" item="criterion">
							<!-- 有选择的插入，相当于switch -->
							<choose>
								<!-- 无数值数据，用于field is null和field is not null -->
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<!-- 单一数据 -->
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<!-- 两个数据，用于between和not between语句 -->
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<!-- 用于in和not in -->
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<!-- 条件从句 -->
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<!-- 读取criteria列表集合中的元素 -->
			<foreach collection="example.oredCriteria" item="criteria" separator="or">
				<!-- 判断criteria是否有条件 -->
				<if test="criteria.valid">
					<!-- 设置前后缀包裹，以and分隔 -->
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<!-- 遍历每一个criteria中的List<Criterion>自定义条件列表集合 -->
						<foreach collection="criteria.criteria" item="criterion">
							<!-- 有选择的插入，相当于switch -->
							<choose>
								<!-- 无数值数据，用于field is null和field is not null -->
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<!-- 单一数据 -->
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<!-- 两个数据，用于between和not between语句 -->
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<!-- 用于in和not in -->
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>

	<sql id="Base_Column_List">
		u_id,
		u_email,
		u_password,
		u_picture,
		u_name
	</sql>
	<!-- 统计符合自定义条件的数据个数 -->
	<select id="countByExample" parameterType="com.pojo.UserExample"
		resultType="java.lang.Integer">
		select count(*) from user
		<!-- _parameter代表的时传入参数 -->
		<!-- 自定义条件 -->
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>

	<!-- 自定义条件删除数据 -->
	<delete id="deleteByExample" parameterType="com.pojo.UserExample">
		delete from user
		<!-- _parameter代表的时传入参数 -->
		<!-- 自定义条件 -->
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>

	<!-- 根据主键删除单条数据 -->
	<delete id="deleteByPrimaryKey">
		delete from user
		<!-- 传入主键作为条件 -->
		where
		u_id = #{uId, jdbcType=INTEGER} 
	</delete>

	<!-- 插入单条数据 -->
	<insert id="insert" parameterType="com.pojo.User">
		insert into user (
			u_id,
			u_email,
			u_password,
			u_picture,
			u_name
		)
		values (
			#{uId, jdbcType=INTEGER},
			#{uEmail, jdbcType=VARCHAR},
			#{uPassword, jdbcType=VARCHAR},
			#{uPicture, jdbcType=VARCHAR},
			#{uName, jdbcType=VARCHAR}
		)
	</insert>

	<!-- 有选择的插入单条数据 -->
	<insert id="insertSelective" parameterType="com.pojo.User">
		insert into user
		<!-- 前缀为"("、后缀为")"、去掉最后一个"," -->
		<!-- 插入属性 -->
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uId != null">
				uId,
			</if>
			<if test="uEmail != null">
				uEmail,
			</if>
			<if test="uPassword != null">
				uPassword,
			</if>
			<if test="uPicture != null">
				uPicture,
			</if>
			<if test="uName != null">
				uName,
			</if>
		</trim>
		<!-- 插入内容 -->
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uId != null">
				#{uId, jdbcType=INTEGER},
			</if>
			<if test="uEmail != null">
				#{uEmail, jdbcType=VARCHAR},
			</if>
			<if test="uPassword != null">
				#{uPassword, jdbcType=VARCHAR},
			</if>
			<if test="uPicture != null">
				#{uPicture, jdbcType=VARCHAR},
			</if>
			<if test="uName != null">
				#{uName, jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<!-- 查询符合自定义条件的数据 -->
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.pojo.UserExample">
		select
		<!-- 判断是否使用distinct查询 -->
		<if test="distinct">
			distinct
		</if>
		<!-- 查询字段 -->
		<include refid="Base_Column_List" />
		from user
		<!-- 自定义条件 -->
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<!-- 判断是否指定排序从句 -->
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>

	<!-- 根据主键查询单条数据 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		<!-- #表示占位符、$表示拼接 -->
		where
		u_id = #{uId, jdbcType=INTEGER} 
	</select>

	<!-- 自定义条件的有选择性的修改某些属性，可修改主键 -->
	<update id="updateByExampleSelective">
		update user
		<!-- 修改属性，可修改主键 -->
		<set>
			<if test="record.uId != null">
				uId = #{record.uId, jdbcType=INTEGER},
			</if>
			<if test="record.uEmail != null">
				uEmail = #{record.uEmail, jdbcType=VARCHAR},
			</if>
			<if test="record.uPassword != null">
				uPassword = #{record.uPassword, jdbcType=VARCHAR},
			</if>
			<if test="record.uPicture != null">
				uPicture = #{record.uPicture, jdbcType=VARCHAR},
			</if>
			<if test="record.uName != null">
				uName = #{record.uName, jdbcType=VARCHAR},
			</if>
		</set>
		<!-- 自定义条件 -->
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>

	<!-- 自定义条件修改所有属性，可修改主键 -->
	<update id="updateByExample">
		update user
		<!-- 修改属性，可修改主键 -->
		set
		uId = #{uId, jdbcType=INTEGER},
		uEmail = #{uEmail, jdbcType=VARCHAR},
		uPassword = #{uPassword, jdbcType=VARCHAR},
		uPicture = #{uPicture, jdbcType=VARCHAR},
		uName = #{uName, jdbcType=VARCHAR}
		<!-- 自定义条件 -->
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>

	<!-- 通过主键有选择性的修改某该属性，不可以修改主键 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.pojo.User">
		update user
		<!-- 修改属性，不可以修改主键 -->
		<set>
			<if test="uEmail != null">
				uEmail = #{uEmail, jdbcType=VARCHAR},
			</if>
			<if test="uPassword != null">
				uPassword = #{uPassword, jdbcType=VARCHAR},
			</if>
			<if test="uPicture != null">
				uPicture = #{uPicture, jdbcType=VARCHAR},
			</if>
			<if test="uName != null">
				uName = #{uName, jdbcType=VARCHAR},
			</if>
		</set>
		<!-- 主键作为条件 -->
		where
		u_id = #{uId, jdbcType=INTEGER} 
	</update>

	<!-- 通过主键修改属性，不可以修改主键 -->
	<update id="updateByPrimaryKey" parameterType="com.pojo.User">
		update user
		<!-- 修改属性，不可以修改主键 -->
		set
		u_email = #{uEmail, jdbcType=VARCHAR},
		u_password = #{uPassword, jdbcType=VARCHAR},
		u_picture = #{uPicture, jdbcType=VARCHAR},
		u_name = #{uName, jdbcType=VARCHAR}
		<!-- 主键作为条件 -->
		where
		u_id = #{uId, jdbcType=INTEGER}
	</update>

</mapper>